{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
	<!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
	<a href="{{ path('events') }}"><button type="button">Back to all Events</button></a><br>
	<div class="container">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	<!-- Bootstrap JS and Popper -->
	<script src="{{ asset('js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
	<!-- Bootstrap JQuiery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% endblock %}