{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
	{# dump(events) #}
	<div class="container">
		<div class="table-responsive">
			<a href="{{ path('add') }}"><button class="btn btn-outline-success my-3" type="button">Add event</button></a>
			<table class="table table-striped">
				<caption>Upcoming events</caption>
				<thead>
					<tr>
						<th>Name</th>
						<th>Date</th>
						<th class="text-center" colspan="3">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for anEvent in events %}
						<tr>
							<td>{{ anEvent.name }}</td>
							<td>{{ anEvent.dateTime.date|date("j F H:i") }}</td>
							<td><a href="{{ path('details', {'id': anEvent.id}) }}"><button class="btn btn-outline-primary btn-sm" type="button">Details</button></a></td>
							<td><a href="{{ path('edit', {'id': anEvent.id}) }}"><button class="btn btn-outline-warning btn-sm" type="button">Edit</button></a></td>
							<td><a href="{{ path('delete', {'id': anEvent.id}) }}"><button class="btn btn-outline-danger btn-sm" type="button">Delete</button></a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}