{% extends 'base.html.twig' %}
{% block body %}
	{# dump(events) #}
	<a href="{{ path('add') }}"><button type="button">Add event</button></a>
	<table>
		<caption>Upcoming events</caption>
		<thead>
			<!-- <tr>
				<th>Banner</th>
				<th></th>
			</tr> -->
		</thead>
		<tbody>
			{% for anEvent in events %}
				<tr>
					<td>{{ anEvent.name }}</td>
					<td>{{ anEvent.dateTime.date|date("j F H:i") }}</td>
					<td><a href="{{ path('details', {'id': anEvent.id}) }}"><button type="button">Details</button></a></td>
					<td><a href="{{ path('edit', {'id': anEvent.id}) }}"><button type="button">Edit</button></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}