{% extends 'base.html.twig' %}
{% block title %}Details{% endblock %}

{% block body %}
	{# dump(details) #}
	<div class="container">
		<a href="{{ path('events') }}"><button class="btn btn-outline-primary my-3" type="button">Back to all Events</button></a>
		
		<div class="card">
			<div class="card-header">
				<strong>Date and time:</strong> {{ details.dateTime.date|date("j F H:i") }} <strong>Address:</strong> {{ details.address }}
			</div>

		  <img class="card-img-top mx-auto mt-4" src="{{ asset(details.image) }}" alt="Event image">

		  <div class="card-body">
		    <h3 class="card-title text-center">{{ details.name }}</h3>
		    <p class="card-text text-justify">{{ details.description }}</p>

				<div class="card-footer text-muted text-center">
					{% if details.url != null %}
						<strong>Url:</strong>&nbsp;<a href="{{ details.url }}">{{ details.url }}</a>
					{% endif %}

					{% if details.email != null %}
						<strong>Email:</strong>&nbsp;{{ details.email }}
					{% endif %}

					{% if details.phoneNumber != null %}
						<strong>Phone&nbsp;number:</strong>&nbsp;{{ details.phoneNumber }}
					{% endif %}

					<strong>Capacity:</strong>&nbsp;{{ details.capacity }}&nbsp;people

					<strong>Event&nbsp;type:</strong>&nbsp;{{ details.type }}
				</div>
		  </div>
		</div>
	</div>
{% endblock %}